// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #0093d0;
$brand-secondary: #eb7f0c;
$light-gray: #ebebeb;
$gray: #636363;
$dark-gray: #464646;
$soft-black: #212529;