.search-page {
	&-container {
		@extend .container-fluid;
	}

	&-row {
		@include make-row();
	}

	&-column {
		// @include make-col-ready();
		@include make-col(12);
		@include make-col-offset(0);

		@include media-breakpoint-up(lg) {
			// @include make-col-ready();
			@include make-col(7);
			@include make-col-offset(2);
		}

		@media (min-width: 1620px) {
			@include make-col(8);
			@include make-col-offset(1);
		}
	}

	&-result {
		padding: 0px 15px;

		@include media-breakpoint-up(sm) {
			padding: 0px 60px;
		}

		&-row {
			@include make-row();

			position: relative;
			text-decoration: none !important;
			margin-bottom: 40px;
			color: $black;
			transition: color 0.15s;

			&:after {
				display: none;
			}

			&:link {
				text-decoration: none;
			}

			&:visited {
				color: $black;
				text-decoration: none;
			}

			&:hover {
				color: $black;
				text-decoration: none;
				background-color: lighten($light-gray,6%);

				&::after {
					background-color: lighten($gray,15%);
				}
			}

			&:active {
				color: $black;
				text-decoration: none;

				&::after {
					background-color: lighten($gray,15%);
				}
			}

			@include media-breakpoint-up(lg) {
				&:after {
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					content: "Click to View";
					background-color: transparent;
					transition: all 0.15s;
					color: $white;
					padding: 3px;
					border-bottom-left-radius: 3px;
					pointer-events: none;
				}
			}

			&.no-hover {

				&:hover {
					color: $black;
					text-decoration: none;
					background-color: $white;

					&::after {
						transform: translate3d(0,0,0);
						background-color: $white;
					}
				}

				&:active {
					color: $black;
					text-decoration: none;

					&::after {
						transform: translate3d(0,0,0);
						background-color: $white;
					}
				}
			}
		}

		&-column {

			&--left {
				@include make-col-ready();
				@include make-col(12);

				@include media-breakpoint-up(lg) {
					@include make-col(5);
					height: auto;
				}

				@include media-breakpoint-up(xl) {
					@include make-col(4);
					height: auto;
				}
			}

			&--right {
				@include make-col-ready();
				@include make-col(12);
				padding: 20px;

				@include media-breakpoint-up(sm) {
					@include make-col(8);
				}

				@include media-breakpoint-up(lg) {
					@include make-col(7);
				}

				@include media-breakpoint-up(xl) {
					@include make-col(8);
				}
			}

			&--full-width {
				@include make-col-ready();
				@include make-col(12);
			}
		}

		&-image {
			height: auto;
			width: 100%;

			&-container {

			}
		}

		&-header {
			position: relative;
			font-family: 'Heebo', sans-serif;
			font-weight: 700;
			font-size: 1.2rem;
			padding: 45px;
			padding-bottom: 0;
			color: $brand-primary;
			margin-bottom: 20px;

			&::after {
				display: block;
				content: " ";
				width: 100%;
				height: 1px;
				margin-top: 10px;
				margin-bottom: 20px;
				background-color: $light-gray;
			}
		}

		&-none-text {
			position: relative;
			display: block;
			margin: 0 auto;
			text-align: center;
			font-style: italic;
			color: $gray;

			&::before {
				content: " ";
				display: block;
				position: absolute;
				top: -20px;
				left: 50%;
				transform: translate3d(-50%,0,0);
				width: 40%;
				height: 1px;
				background: #ffffff;
				background: -moz-linear-gradient(left, #ffffff 0%, #636363 50%, #ffffff 100%);
				background: -webkit-linear-gradient(left, #ffffff 0%,#636363 50%,#ffffff 100%);
				background: linear-gradient(to right, #ffffff 0%,#636363 50%,#ffffff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
			}

			&::after {
				content: " ";
				display: block;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate3d(-50%,20px,0);
				width: 40%;
				height: 1px;
				background: #ffffff;
				background: -moz-linear-gradient(left, #ffffff 0%, #636363 50%, #ffffff 100%);
				background: -webkit-linear-gradient(left, #ffffff 0%,#636363 50%,#ffffff 100%);
				background: linear-gradient(to right, #ffffff 0%,#636363 50%,#ffffff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
			}
		}

		&-title {
			font-family: 'Heebo', sans-serif;
			font-weight: 500;
			font-size: 1.3rem;
			margin-bottom: 0;
		}

		&-excerpt {
			font-family: 'Heebo', sans-serif;
			font-size: 1rem;
		}
	}

	&-title {
		font-family: 'Teko', sans-serif;
		font-weight: 700;
		text-transform: uppercase;

		&-container {
			padding: 60px;
			padding-bottom: 0;
		}
	}

	&-input {
		appearance: none;
		outline: none;
		padding: 10px;
		width: 50%;
		border: 1px solid darken($light-gray,6%);
		font-family: 'Heebo', sans-serif;
		font-size: 1.1rem;

		&-container {
			padding: 60px;
			padding-top: 30px;
			padding-bottom: 20px;
		}
	}

	&-filter {
		display: inline-block;

		&:first-child {
			a {
				padding-left: 0;
			}
		}

		// some of the classes are plural
		&s {
			&-container {
				padding: 60px;
				padding-top: 0;
			}

			&-list {
				padding-left: 0;
				list-style-type: none;
			}
		}

		&-link {
			display: inline-block;
			padding: 0 10px;
			font-family: 'Heebo', sans-serif;
			font-weight: 500;
			font-size: 0.8rem;
			color: $gray;
			text-transform: uppercase;
			text-decoration: none;
			transition: color 0.15s;
			margin-bottom: 10px;

			&.active {
				color: $brand-secondary;
			}

			&:link {
				text-decoration: none;
			}

			&:visited {
				text-decoration: none;
			}

			&:hover {
				text-decoration: none;
				color: $brand-secondary;
			}
		}
	}
}