<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>New Contact Form Submission</h1>
	<br>
	<h3 style="margin-bottom:0;">From:</h3>
	<p>{{name}}</p>
	<br>
	<h3 style="margin-bottom:0;">Email Address:</h3>
	<p>{{emailAddress}}</p>
	<br>
	<h3 style="margin-bottom:0;">Phone Number:</h3>
	<p>{{phone}}</p>
	<br>
	<h3 style="margin-bottom:0;">Message:</h3>
	<p>{{message}}</p>
</body>
</html>